/* front.blade */


.navbar{
    position: relative;
    .ul-search{
        width: 50%;
        margin: auto;
        text-align: center;
    }
    .form-inline{
        width: 98%;
        input{
            width: 85%;
        }
    }
}

.sub-menu{
    margin-bottom: 40px;
    ul{
        text-align: center;
        margin: auto;
    }
}


#buscaMenu{
    margin: auto;
    text-align: center;
    background-color: rgb(247, 247, 247) !important;
    border-radius: 40px;
    padding: 5px;
    max-width: 700px;
    input{
        color: #343a40;
        border: 0;
        outline: 0;
        background: none;
        padding: 0 5px;
        text-align: left;
        &:focus{
            box-shadow: 0 0 0 0;
            outline: 0;
        }
    }
    button{
        height: 40px;
        width: 40px;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        text-decoration:none;
    }
}

#blocoHome{
    width: 300px !important;
    height: 450px !important;
    max-width: unset !important;
    flex: unset !important;
    margin-bottom: 25px !important;
    margin-right: 15px !important;
    margin-left: 15px !important;
    padding: unset !important;
    .links{
        width: 100%;
        height: 100%;
        text-decoration:none;
        &:hover{
            text-decoration: none;
        }
    }
}

#container{
    width: 80% !important;
    max-width: 100% !important;
}


.card-products{
    width: 100%;
    height: 450px !important;
    padding: 10px;
    position: absolute !important;
    border: 0px;
    img{
        width: 296px;
        height: 48%;
        max-height: 100%;
        object-fit: contain;
    }
    .card-body h2{
        font-size: 13pt;
        height: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        color:#404040;
    }
    h3{
        font-weight: bold;
        margin-top: 20px;
        font-size: 15pt;
        color: black;
    }
}

.card-products:hover{
    box-shadow: rgba(0,0,0,.15)0 0 20px;
}

#blocoProduto{
    width: 90%;
    margin: auto;
    margin-top: 50px;
    .colunaProduto{
        margin: auto;
        width: 420px !important;
        height: 500px;
        flex: unset !important;
    }
    #imgProduto{
        float: left;
        max-width: 100%;
        max-height: 100%;
        box-sizing: content-box;
        object-fit: contain;
        margin: auto;
    }
}

#imagePreview{
    width: 90%;
    margin: auto;
    #colunaImgs{
        width: 420px;
        height: 80px;
        img{
            max-width: 100%;
            max-height: 100%;
            box-sizing: content-box;
            object-fit: contain;
            margin: auto;
            display: inline-block;
        }
    }
}


#infoProduto{
    margin-top: 50px;
}
#colunaInfoProduto{
    margin-bottom: 35px;
   
}
#blocoLoja {
    height: 300px !important;
    width: 300px !important;
    flex: unset !important;
    max-width: unset !important;
    img{
        width: 100%;
        height: 200px;
    }
    .titleLoja{
        margin-top: 5px;
    }
    #botaoLoja{
        &:hover{
            background-color: lightgray;
        }
    }
}

// Carrinho de Compras

#cart{
    background-color: white;
    margin-top: 40px;
    text-align: center;
    th,td{
        border: 0px solid !important;
    }tr{
        border-bottom: 1px solid #dee2e6 !important;
    }#tdAmount{
        text-align: center;
        width: 10%;
        a{
            text-decoration: none;
        }
    }#tdName{
        width: 50%;
        img{
            width: 13%;
        }
    }#tdShipping{
        width: 20%;
    }#amount{
       width: 70px;
       height: 40px; 
    }
}
#summaryCart{
    background-color: rgb(248, 248, 248);
    align-self: self-start;
    border-radius: 0.5rem;
}
#formCep{
    p{
        margin-bottom: 0px;
    }
    input{
        padding: 5px;
        width: 250px;
    }
}

#cartCancel{
    margin-top: 50px;
}



@media (max-width: 768px) {
    #blocoNav{
        width: 100% !important;
        #buscaMenu{
            flex-flow: unset !important;
        }
    }

    #row{
        display: flex !important;
        align-items: center !important;
        flex-direction: column !important;
    }
    #blocoHome{
        padding-left: unset !important;
        padding-right: unset !important;
    }
    .card-products {
        img {
            width: 296px;
            height: 250px;
            max-height: 100%;
        }
    }
    //----------------------------
    #containerLoja{
        justify-content: center;
    }
}

